pandas
numpy
langchain 
langchain-community 
langchain-chroma
langchain-openai
beautifulsoup4
Flask
Flask_Cors
pdf2image
chromadb
pypdf
tiktoken
pandas
langchain
atlassian-python-api==3.36.0
chromadb
huggingface-hub
torch
sentence-transformers==2.2.2
InstructorEmbedding==1.0.0
p4python
lxml
bs4

