


/* Light mode */
body {
  background-color: #d6ddec;
  color: #121717;
}
/* Dark mode */
.dark-mode {
  background-color: #121717;
  color: #c9c9c9;
}
.titletext {
  font-size:75px;
  text-align: center;
  font-weight:600;
  letter-spacing:10px;
  margin-bottom:20px;
  /*background:black;*/
  position:relative;
  animation:text 3s 1;
}

@keyframes text{
  0%{
    color:black;
    margin-bottom:10px;
  }
  30%{
    letter-spacing:25px;
    margin-bottom:10px;
  }
  85%{
    letter-spacing:8px;
    margin-bottom:10px;
  }
}

.custom-control{
  position: relative;
  left: 40%;
}
.custom-control label {
	width: 70px;
	height: 30px;
	position: relative;
	display: block;
	background: #ebebeb;
	border-radius: 30px;
	box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
		inset 0px -5px 15px rgba(255, 255, 255, 0.4);
	cursor: pointer;
	transition: 0.3s;
	&:after {
		content: "";
		width: 25px;
		height: 25px;
		position: absolute;
		top: 2.5px;
		left: 7.5px;
		background: linear-gradient(180deg, #ffcc89, #d8860b);
		border-radius: 25px;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}
	svg {
		position: absolute;
		width: 18px;
		top: 6px;
		z-index: 40;
		&.sun {
			left: 11px;
			fill: #fff;
			transition: 0.3s;
		}
		&.moon {
			left: 42px;
			fill: #7e7e7e;
			transition: 0.3s;
		}
	}
}

.custom-control input {
	width: 0;
	height: 0;
  left: 50%;
  right: 50%;
  position: relative;
	visibility: hidden;
	&:checked + label {
		background: #242424;
		&:after {
			left: 62.5px;
			transform: translateX(-100%);
			background: linear-gradient(180deg, #777, #3a3a3a);
		}
		svg {
			&.sun {
				fill: #7e7e7e;
			}
			&.moon {
				fill: #fff;
			}
		}
		+ .background {
			background: #242424;
		}
	}
	&:active:after {
		width: 260px;
	}
}



#chat-window {
  position: relative;
  height: 70vh;
  overflow: auto;
}

.message-line {
  padding-bottom: 8px;
  width: 70%;
  word-break: break-word;
  display: flex;
  content: "\f019";
  font-family: FontAwesome;
}

.message-box {
  padding: 12px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  background-color: #efefef;
  min-width: 26px;
  border-top-left-radius: 0;
  word-wrap: break-word;
  flex-grow: 0;
  
}

.message-line.my-text {
  flex-direction: row-reverse;
  width: 100%;
}

.message-box.my-text {
  transform: rotateY(180deg);
  background-color: #e7f9d8;
  margin-left:50px;
}

.me {
  transform: scale(-1, 1);
}

.message-box.my-text.dark {
  background-color: #0f4c9e;
}

.message-box.dark {
  background-color: #263443;
}

/* Input container */
#message-input {
  bottom: 0;
  width: 100%;
  flex-grow: 1;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  padding: 10px 0 10px 12px;
  border-radius: 40px 0 0 40px;
  background-color: transparent;
  height: auto;
}

#send-button {
  border: none;
  font: inherit;
  background-color: transparent;
  margin: 0;
  appearance: none;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
}

#reset-button {
  border: none;
  font: inherit;
  background-color: transparent;
  margin: 0;
  appearance: none;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
}

#repeat-button {
  border: none;
  background-color: transparent;
  margin: 0 0 2px 0;
  padding: 0 10px;
  font-size: 24px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  border-radius: 40px;
  border: 1px solid #2d2d2d;
}

#upload-button {
  color: white;
  background-color: #007bff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 12px;
}

#upload-button:hover {
  background-color: #0056b3;
}

.send i {
  display: block;
  width: 25px;
  color: #0f4c9e;
  content: "\f0a9";
  font-family: FontAwesome;
}

.reset i {
  display: block;
  width: 25px;
  color: #0f4c9e;
  content: "\f021";
  font-family: FontAwesome;
}


.loading-animation {
  padding-bottom: 8px;
  word-break: break-word;
  display: none;
  width: 70%;
}

.loading-animation.my-loading {
  flex-direction: row-reverse;
  width: 100%;
}

.loading-dots {
  padding: 12px;
  border-radius: 15px;
  position: relative;
  background-color: #efefef;
  min-width: 26px;
  border-top-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: fit-content;
}

.loading-dots.my-loading {
  transform: rotateY(180deg);
  background-color: #e7f9d8;
  float: right;
}

.dot {
  width: 7px;
  height: 7px;
  margin: 0 2px;
  border-radius: 50%;
  animation: bounce 1.5s ease-in-out infinite;
  background: #5a5a5a;
}

.loading-dots.my-loading.dark {
  background-color: #0e4d9e;
}

.dark {
  background-color: #263443;
}

.dark-dot {
  background: #c9c9c9;
}

.dot:nth-of-type(1) {
  margin-left: 5px;
  animation-delay: 0s;
}

.dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.dot:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  40% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}

#profile-options {
  border-radius: 4px; /* Rounded edges */
}

/* Change color of select on hover */
#profile-options:hover {
  background-color: #e9e9e9;
}

#gender-options {
  border-radius: 4px; /* Rounded edges */
}

/* Change color of select on hover */
#gender-options:hover {
  background-color: #e9e9e9;
}

#age-options {
  border-radius: 4px; /* Rounded edges */
}

#age-options:hover {
  background-color: #e9e9e9;
}

#size-options {
  border-radius: 4px; /* Rounded edges */
}

#size-options:hover {
  background-color: #e9e9e9;
}
#weight-options {
  border-radius: 4px; /* Rounded edges */
}

#weight-options:hover {
  background-color: #e9e9e9;
}

#country-options {
  border-radius: 4px; /* Rounded edges */
}

#country-options:hover {
  background-color: #e9e9e9;
}

.trigger {
	position: relative;
  /*top: 5%;
  left: 95%;*/
	background: #0d7614;
	display: inline-block;
	width: 200px;
	height: 30px;
	border-radius: 50em;
	box-shadow: 0 2px 20px rgba(0,0,0,0.7), inset 0 1px 0 rgba(255,255,255,0.2);
	color: #fff;
}

.trigger span, em, i {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	/*background: yellow;
	opacity: .5;*/
}

.trigger em, i {
	transition: top 0.3s;
}

.trigger span {
	/*
	uncomment this to see where actually the
	Download and SVG located on initial state
	and on hover
	*/
	overflow: hidden;
}

.trigger em {
	line-height: 30px; /*make the button text vertically center of the button*/
	top: 0;
}

.trigger i {
	top: 100%; /*moving out the SVG to the bottom on page loads*/
  /*padding-top:2px;*/
}

.trigger i::before {
  content: "\f019";
  font-family: FontAwesome;
  font-size: 1.5rem;
  color : #fff;
}

.trigger:hover em {
	top: -100%; /* move the Download text to the top*/
}

.trigger:hover i {
	top: 0;
}

/*Tooltip*/
.trigger::before,
.trigger::after {
	position: absolute;
	opacity: 0; /*hide on page load*/
	visibility: hidden; /*to stop interaction when user hover on top of the button*/
	transition: all 0.3s;
}

.trigger::before {
	content: "Meal Plan";
	width: 140px;
	height: 20px;
	line-height: 20px; /*to make the text vertically center*/
	background: #152216;
	border-radius: 0.25em;
	bottom: 50px;
  color: #fff;
	left: calc(50% - 70px); /*take the left size of the box and pull it left by 70px (half of the box's width) referencing .trigger element as the base*/
}

/*the triangle below the `File size` box*/
.trigger::after {
	content: "";
	width: 0;
	height: 0;
	border: 10px solid transparent;
	/*
	each border side is 10px width
	this makes the square 20px width in total
	left to center = 10px
	center to right = 10px
	*/
	border-top-color: #0d7614;
	left: calc(50% - 10px); /*take the left size of the box and pull it left by 10px (half of the box's width) referencing .trigger element as the base*/
	/*bottom: 70px;*/
}

.trigger:hover::before,
.trigger:hover::after {
	opacity: 1;
	visibility: visible;
}

/*pull down effect for the `File size` box when we hover the button*/
.trigger:hover::before {
	bottom: 40px;
}

.trigger:hover::after {
	bottom: 20px;
}


